In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./datasets/transactions.csv')
df.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

In [7]:
df.describe()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
count,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06
mean,2.433972e+02,1.798619e+05,8.338831e+05,8.551137e+05,1.100702e+06,1.224996e+06,1.290820e-03,2.514687e-06
std,1.423320e+02,6.038582e+05,2.888243e+06,2.924049e+06,3.399180e+06,3.674129e+06,3.590480e-02,1.585775e-03
min,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.560000e+02,1.338957e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2.390000e+02,7.487194e+04,1.420800e+04,0.000000e+00,1.327057e+05,2.146614e+05,0.000000e+00,0.000000e+00
75%,3.350000e+02,2.087215e+05,1.073152e+05,1.442584e+05,9.430367e+05,1.111909e+06,0.000000e+00,0.000000e+00
max,7.430000e+02,9.244552e+07,5.958504e+07,4.958504e+07,3.560159e+08,3.561793e+08,1.000000e+00,1.000000e+00

In [ ]:
df.isna().sum().sort_values()

step              0
type              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
isFlaggedFraud    0
dtype: int64

In [3]:
df.duplicated().sum()

np.int64(0)

In [4]:
df.isFraud.value_counts()

isFraud
0    6354407
1       8213
Name: count, dtype: int64

In [5]:
df.isFlaggedFraud.value_counts()

isFlaggedFraud
0    6362604
1         16
Name: count, dtype: int64

In [11]:
df.columns

Index(['step', 'type', 'amount', 'nameOrig', 'oldbalanceOrg', 'newbalanceOrig',
       'nameDest', 'oldbalanceDest', 'newbalanceDest', 'isFraud',
       'isFlaggedFraud'],
      dtype='object')

In [13]:
# Encode payment_method
df['type'] = df['type'].astype('category').cat.codes

In [14]:
df.type.unique()

array([3, 4, 1, 2, 0], dtype=int8)

In [17]:
# Highest 5 values in oldbalanceOrg

df.oldbalanceOrg.sort_values(ascending=False).head()

6362619    59585040.37
6362618    57316255.05
6362617    50399045.08
6362616    49585040.37
6362615    47316255.05
Name: oldbalanceOrg, dtype: float64

In [18]:
df.columns

Index(['step', 'type', 'amount', 'nameOrig', 'oldbalanceOrg', 'newbalanceOrig',
       'nameDest', 'oldbalanceDest', 'newbalanceDest', 'isFraud',
       'isFlaggedFraud'],
      dtype='object')

In [23]:
conDataTypes = df.select_dtypes(include=['float64', 'int64']).columns

for col in conDataTypes:
    print(col, df[col].sort_values(ascending=False).head())

step 6362614    743
6362612    743
6362613    743
6362619    743
6362618    743
Name: step, dtype: int64
amount 3686583    92445516.64
4060598    73823490.36
4146397    71172480.42
3946920    69886731.30
3911956    69337316.27
Name: amount, dtype: float64
oldbalanceOrg 6362619    59585040.37
6362618    57316255.05
6362617    50399045.08
6362616    49585040.37
6362615    47316255.05
Name: oldbalanceOrg, dtype: float64
newbalanceOrig 5996399    49585040.37
6362452    47316255.05
4203639    43686616.33
4203640    43673802.21
4180200    41690842.64
Name: newbalanceOrig, dtype: float64
oldbalanceDest 5920180    3.560159e+08
4596803    3.555534e+08
4721497    3.553814e+08
5486389    3.553805e+08
5380607    3.551855e+08
Name: oldbalanceDest, dtype: float64
newbalanceDest 5920180    3.561793e+08
5486389    3.560159e+08
4133583    3.555534e+08
4124250    3.555534e+08
4596803    3.553814e+08
Name: newbalanceDest, dtype: float64
isFraud 1059518    1
1059519    1
6362588    1
1059520    1
6362604    1
Name: isFraud, dtype: int64
isFlaggedFraud 2736446    1
3247297    1
3760288    1
5563713    1
5996407    1
Name: isFlaggedFraud, dtype: int64

In [24]:
df.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,3,9839.64,C1231006815,0.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,3,1864.28,C1666544295,0.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,4,181.00,C1305486145,0.0,0.00,C553264065,0.0,0.0,1,0
3,1,1,181.00,C840083671,0.0,0.00,C38997010,21182.0,0.0,1,0
4,1,3,11668.14,C2048537720,0.0,29885.86,M1230701703,0.0,0.0,0,0

In [28]:
scale_cols = ['amount', 'oldbalanceOrg', 'newbalanceOrig', 'oldbalanceDest', 'newbalanceDest']
# using log scaling to reduce the effect of extreme values
for col in scale_cols:
    df[col] = df[col].apply(lambda x: np.log1p(x))

In [29]:
df.describe()

,step,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
count,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06
mean,2.433972e+02,1.714150e+00,1.084087e+01,7.414574e+00,5.366092e+00,7.722420e+00,8.330604e+00,1.290820e-03,2.514687e-06
std,1.423320e+02,1.350117e+00,1.814509e+00,5.669756e+00,6.330024e+00,6.747637e+00,6.675095e+00,3.590480e-02,1.585775e-03
min,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.560000e+02,1.000000e+00,9.502306e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2.390000e+02,1.000000e+00,1.122355e+01,9.561631e+00,0.000000e+00,1.179590e+01,1.227682e+01,0.000000e+00,0.000000e+00
75%,3.350000e+02,3.000000e+00,1.224876e+01,1.158353e+01,1.187937e+01,1.375686e+01,1.392159e+01,0.000000e+00,0.000000e+00
max,7.430000e+02,4.000000e+00,1.834213e+01,1.790292e+01,1.771920e+01,1.969049e+01,1.969094e+01,1.000000e+00,1.000000e+00

In [30]:
df.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,3,9.194276,C1231006815,0.0,11.984786,M1979787155,0.000000,0.0,0,0
1,1,3,7.531166,C1666544295,0.0,9.872292,M2044282225,0.000000,0.0,0,0
2,1,4,5.204007,C1305486145,0.0,0.000000,C553264065,0.000000,0.0,1,0
3,1,1,5.204007,C840083671,0.0,0.000000,C38997010,9.960954,0.0,1,0
4,1,3,9.364703,C2048537720,0.0,10.305174,M1230701703,0.000000,0.0,0,0

In [36]:
# Split features and target variable into test and train sets

from sklearn.model_selection import train_test_split

train_df, test_df = train_test_split(df, test_size=0.2, random_state=42)